.nav_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 0;
}

.line-1 {
    height: 1px;
    width: 1440px;
    background: #000;
}

.nav_bar .nav_bar_title {
    font-size: 18px;
    font-family: 'Poppins';
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    color: #000;
}

.header {
    font-size: 24px;
    font-family: 'FiraGO';
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 72px;
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    gap: 112px;
    margin: 100px 0;
}

.container .landing-cards {
    width: 333px;
    height: 487px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 11px 12px 0;
}

.container .landing-cards .card-title {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
    font-style: normal;
    padding: 10px 0;
}

.container .landing-cards .card-desc {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.03em;
}

.links-container {
    display: flex;
    justify-content: center;
    gap: 325px;
    margin-left: 220px;
    margin-top: -85px;
}

.links-container .links {
    width: 118px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container .links .see-more {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-family: 'Poppins';
}

.about-title {
    display: flex;
    justify-content: center;
}

.about-title h1 {
    margin-top: 183px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    color: #7D0000;
    font-family: 'open sans';
}

.about-desc {
    width: 1080px;
    line-height: 52px;
}

.about-desc h1 {
    size: 25px;
    color: #000;
    font-weight: 600;
    font-family: 'open sans';
    margin-left: 175px;
    margin-top: 117px;
}

.adress {
    width: 600px;
    height: 38px;
}

.adress h1 {
    margin-top: 127px;
    font-size: 25px;
    font-weight: 400;
    margin-left: 175px;
    font-style: italic;
    font-family: 'open sans';
}

.contact-adress h1 {
    margin-top: 127px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 175px;
    margin-bottom: -80px;
    font-family: 'open sans';
}

.list {
    display: flex;
    justify-content: space-around;
    margin-right: 95px;
    margin-top: 55px;
    line-height: 22px;
}

.list ul {
    font-size: 14px;
    font-family: 'Open sans';
    font-weight: 400;
}